{% extends "base.html.twig" %}

{% block body %}

<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Tables /</span> Basic Tables
</h4>

<div class="card">
  <h5 class="card-header">Vos demandes</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Date de début</th>
          <th>Date de début</th>
          <th>Demi journée</th>
          <th>Statut</th>
          <th>Commentaire</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
{% for request in requests %}
  <tr>
    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{request.type}}</strong></td>
    <td>{{request.startdate|date('d-m-Y')}}</td>
    <td>{{request.enddate|date('d-m-Y')}}</td>
    <td>{% if request.halfday == null %}Non{% endif %}{{request.halfday}}</td>
    <td><span class="badge {% if request.status == 'validé' %}bg-label-success{% elseif request.status == 'refusé' %}bg-label-danger{% else %}bg-label-primary{% endif %} me-1">{{request.status}}</span></td>
    <td>{% if request.comment|length > 40 %}{{request.comment|slice(0,40)}}...{% else %}{{request.comment}}{% endif %}</td>
    <td>
      <div class="dropdown">
        {% if request.status == 'en attente' %}
          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('edit_request', {'id': request.id}) }}" ><i class="bx bx-edit-alt me-1"></i> Modifier</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Supprimer</a>
          </div>
        {% else %}
          <button type="button" class="btn p-0 dropdown-toggle hide-arrow disabled" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0);" disabled><i class="bx bx-edit-alt me-1"></i> Modifier</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Supprimer</a>
          </div>
        {% endif %}
      </div>
    </td>
  </tr>
{% endfor %}

      </tbody>
    </table>
<nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
  </div>
</div>

{% endblock %}