{% extends "base.html.twig" %}

{% block body %}

<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Tables /</span> Basic Tables
</h4>

<div class="card">

  <h5 class="card-header">Vos demandes</h5>
      
  {% set name = app.request.query.get('name') %}
  {% set type = app.request.query.get('type') %}
  {% set status = app.request.query.get('status') %}
  {% set date = app.request.query.get('date') %}
  {% set startDate = app.request.get('startDate') %}
  {% set endDate = app.request.query.get('endDate') %}
  <div class="card-body">

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
  {% endfor %}

  <form action="{{ path('request_filter', {'name': name, 'date': date, 'status': status, 'type' : type}) }}" method="get">
    <div class="row gx-3 gy-2 align-items-center">
      <div class="col-md-3">
        <label for="startDate" class="form-label">Date de début</label>
        <input class="form-control" type="date" name="startDate" id="startDate" value="{{startDate}}">    
      </div>
      <div class="col-md-3">
        <label for="endDate" class="form-label">Date de fin</label>
        <input class="form-control" type="date" name="endDate" id="endDate" value="{{endDate}}">    
      </div>
      <div class="col-md-3">
        <label class="form-label" for="submit">&nbsp;</label>
        <button type="submit" id="submit" class="btn btn-primary d-block">Rechercher</button>
      </div>
      <input type="hidden" name="status" value="{{ status }}">
      <input type="hidden" name="type" value="{{ type }}">
      <input type="hidden" name="date" value="{{ date }}">
      <input type="hidden" name="name" value="{{ name }}">

    </div>
  </form>

    <div class="demo-inline-spacing ">
    {% if "ROLE_MANAGER" in user.roles %}
          <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">NOM</button>
        <ul class="dropdown-menu" style="">
        {% for user in users %}
          
          <li><a class="dropdown-item" href="{{ path('request_filter', {'name': user.name,'date': date, 'status': status, 'type' : type, 'startDate' : startDate, 'endDate' : endDate}) }}">{{user.name}}</a></li>
        {% endfor %}
        </ul>
      </div>{% endif %}
    
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Date</button>
        <ul class="dropdown-menu" style="">
          <li><a class="dropdown-item" href="{{ path('request_filter', {'date': 'ASC', 'status': status, 'type' : type, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Odre croissant</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'date': 'DESC', 'status': status, 'type' : type, 'startDate' : startDate, 'endDate' : endDate, 'name': name})  }}">Ordre décroissant</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Type</button>
        <ul class="dropdown-menu" style="">
          <li><a class="dropdown-item" href="{{ path('request_filter', {'type': 'Télétravail', 'status': status, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Télétravail</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'type': 'Présentiel', 'status': status, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Présentiel</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'type': 'Congés', 'status': status, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Congés</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'type': 'RTT', 'status': status, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">RTT</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'type': 'Formation', 'status': status, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Formation</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'type': 'Congés maladies', 'status': status, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Congés maladies</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'type': 'Congés parentaux', 'status': status, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Congés parentaux</a></li>
        </ul>
      </div>
      <div class="btn-group" id="status-dropdown">
        <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Statut</button>
        <ul class="dropdown-menu" style="">
          <li><a class="dropdown-item" href="{{ path('home') }}">Tous</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'status': 'En attente', 'type': type, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">En attente</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'status': 'Accepté', 'type': type, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Accepté</a></li>
          <li><a class="dropdown-item" href="{{ path('request_filter', {'status': 'Refusé', 'type': type, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name': name}) }}">Refusé</a></li>
        </ul>
      </div>      
    </div>
    <div class="demo-inline-spacing">
      {% if name %}
        <a class="btn btn-sm btn-primary me-1"  href="{{ path('request_filter', {'date' : date ,'status': status, 'type' : type, 'startDate' : startDate, 'endDate' : endDate}) }}">
          X &nbsp; {{name}}
        </a>
      {% endif %}
      {% if date == "ASC" %}
        <a class="btn btn-sm btn-primary me-1"  href="{{ path('request_filter', {'status': status, 'type' : type, 'startDate' : startDate, 'endDate' : endDate, 'name' : name}) }}">
          X &nbsp; Date par ordre croissant
        </a>
      {% endif %}
      {% if date == "DESC" %}
        <a class="btn btn-sm btn-primary me-1" href="{{ path('request_filter', {'status': status, 'type' : type, 'startDate' : startDate, 'endDate' : endDate, 'name' : name}) }}">
          X &nbsp; Date par ordre décroissant
        </a>
      {% endif %}
      {% if type %}
        <a class="btn btn-sm btn-primary me-1"  href="{{ path('request_filter', {'status': status, 'date' : date, 'startDate' : startDate, 'endDate' : endDate, 'name' : name}) }}" >
          X &nbsp; {{type}}
        </a>
      {% endif %}
      {% if status %}
        <a class="btn btn-sm btn-primary me-1" href="{{ path('request_filter', {'date': date, 'type' : type, 'startDate' : startDate, 'endDate' : endDate, 'name' : name}) }}">
          X &nbsp; {{status}}
        </a>
      {% endif %}
      {% if startDate %}
        <a class="btn btn-sm btn-primary me-1" href="{{ path('request_filter', {'status' : status, 'date': date, 'type' : type, 'endDate' : endDate, 'name' : name}) }}">
          X &nbsp; {{startDate|date("d/m/Y")}}
        </a>
      {% endif %}
      {% if endDate %}
        <a class="btn btn-sm btn-primary me-1" href="{{ path('request_filter', {'status' : status, 'date': date, 'type' : type, 'startDate' : startDate, 'name' : name}) }}">
          X &nbsp; {{endDate|date("d/m/Y")}}
        </a>
      {% endif %}
    </div>
  </div>
  
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
        {% if "ROLE_MANAGER" in user.roles %}
          <th>Nom</th>
          <th>Prénom</th>
        {% endif %}
          <th>Type</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Demi journée</th>
          <th>Statut</th>
          <th>Commentaire</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
      {% for request in pagination %}
        <tr>
        {% if "ROLE_MANAGER" in user.roles %}
          <td>{{request.user.name}}</td>
          <td>{{request.user.firstname}}</td>
        {% endif %}
          <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{request.type}}</strong></td>
          <td>{{request.startdate|date('d-m-Y')}}</td>
          <td>{{request.enddate|date('d-m-Y')}}</td>
          <td>{% if request.halfday == null %}Non{% endif %}{{request.halfday}}</td>
          <td><span class="badge {% if request.status == 'Accepté' %}bg-label-success{% elseif request.status == 'Refusé' %}bg-label-danger{% else %}bg-label-primary{% endif %} me-1">{{request.status}}</span></td>
          <td>{% if request.comment|length > 40 %}{{request.comment|slice(0,40)}}...{% else %}{{request.comment}}{% endif %}</td>
          <td>
            <div class="dropdown">
              {% if request.status == 'En attente' %}
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                <div class="dropdown-menu">
                {% if "ROLE_MANAGER" in user.roles %}
                  <a class="dropdown-item" href="{{ path('validate_request', {'id': request.id, 'user_request_id': request.user.id}) }}"><i class='bx bx-check'></i>Valider</a>
                  <a class="dropdown-item" href="{{ path('refuse_request', {'id': request.id, 'user_request_id': request.user.id}) }}"><i class='bx bx-x' ></i>Refuser</a>
                {% else %}
                  <a class="dropdown-item" href="{{ path('edit_request', {'id': request.id}) }}" ><i class="bx bx-edit-alt me-1"></i> Modifier</a>
                  <a class="dropdown-item" href="{{ path('delete_request', {'id': request.id}) }}"><i class="bx bx-trash me-1"></i>Supprimer</a>
                {% endif %}
                  
              {% else %}
                {% if "ROLE_MANAGER" in user.roles %}
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('pending_request', {'id': request.id}) }}"><i class='bx bx-revision'></i>En attente</a>
                    <a class="dropdown-item" href="{{ path('validate_request', {'id': request.id, 'user_request_id': request.user.id}) }}"><i class='bx bx-check'></i>Valider</a>
                    <a class="dropdown-item" href="{{ path('refuse_request', {'id': request.id, 'user_request_id': request.user.id}) }}"><i class='bx bx-x' ></i>Refuser</a>
                {% else %}
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow disabled" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                {% endif %}
              {% endif %}
              
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
    <div class="card-body">
      <div class="pagination pagination-sm">
          {{ knp_pagination_render(
              pagination
          ) }}

      </div>
    </div>
</div>



{% endblock %}